/* IMPOSTAZIONI GENERALI */

body {
    width: 90%;
    margin: 0 auto;
    background-image:url(../img/sfondo.png);
    background-repeat: repeat-y;
    background-position: 50% 156%;
    background-size: 180%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 300;
}

/* HEADER */

header {
    background: rgb(7,115,137);
    background: linear-gradient(45deg, rgba(7,115,137,1) 49%, rgba(0,143,177,1) 100%);
    margin-top: 3vh;
    height: 36vh;
    text-align: center;
    padding-top: 6vh;
    box-shadow: 1px 3px 4px rgb(0, 0, 0, 60%);
}

header li {
    list-style: none;
}

.logo {
    width: 35vh;
    padding-bottom: 4vh;
}

.testoheader {
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}

.testoheader--titolo {
    margin-bottom: 4vh;
}

header a {
    line-height: 3.5vh;
}

/* MAIN */

main {
    background-color: white;
    margin: 4vh auto;
    padding: 3vh;
    box-shadow: 1px 3px 4px rgb(0, 0, 0, 50%);
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -1px;
}

main ul, ol {
    margin-left: 4vh;
}

/* ELEMENTI NEL MAIN - ARTICLE */

article p:nth-child(2){
    color: #9CA49F;
    margin: 4vh auto;
    font-size: 1.05rem;
}

article p {
    margin: 18px 0;
}

strong {
    color:#A92072;
    font-weight: 500;
}

code {
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1px;
}

h2 {
    margin-top: 3vh;
    margin-bottom: 0;
}

a:visited {
    color: #0288A9;
    font-weight: 600;
}

iframe {
    border-radius: 20px;
}

/* TABELLE */

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

caption {
    font-weight: 500;
    font-style: italic;
    font-size: 1.3rem;
}


th {
    background: #3D67C5;
    border: 1px solid white;
    padding: 20px 6px;
    color: white;
    font-size: 1.3rem;
}

td {
    padding: 2vh 0;
}

tr:nth-child(odd) {
    background-color: #F1F1F1;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

main a {
    font-weight: 500;
}

iframe {
    width: 100%;
}


/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

